@import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@400;600;700&family=Bungee&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: 'Belanosima', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Bungee', sans-serif;
}

@keyframes fall {
  0% {
    transform: translateY(-10vh) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateY(100vh) rotate(720deg);
    opacity: 0;
  }
}

.confetti {
  position: absolute;
  opacity: 0.8;
  animation: fall linear infinite;
}
